version: '3.8'

services:
  react:
    build: 
      context: ./React/ecommerce-frontend
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "3000:80"
    restart: unless-stopped